body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #ffd0f9ff;
}
img {
    border: 2px solid #ffd0f9ff;
    border-radius: 10px;
    width: 500px
}
input[type=text]{
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
}